<div class="jumbotron">
  <h1>Pinky's Shoe-ventory</h1>
</div>

<h2>SHOES</h2>
<div>
  <% if @shoes.any? %>
    <% @shoes.each do |shoe| %>
      <div class="row">
        <div class="col-md-3">
          <li><a href="/shoe/<%= shoe.id %>"><%= shoe.brand %></a></li>
        </div>
        <div class="col-md-1">
          <h5>$<%= shoe.price %></h5>
        </div>
        <div class="col-md-8">
           <a href='/shoe/edit/<%= shoe.id %>'>edit |</a> <a href='/shoe/delete/<%= shoe.id %>'>delete</a>
        </div>
      </div>
    <% end %>
  <% end %>
</div><br>

<a href='/shoe/create'>Add a Shoe</a><br><br>

<h2>STORES</h2>
<div>
  <% if @stores.any? %>
    <% @stores.each do |store| %>
      <div class="row">
        <div class="col-md-4">
          <li><a href="/store/<%= store.id %>"><%= store.name %></a></li>
        </div>
        <div class="col-md-8">
           <a href='/store/edit/<%= store.id %>'>edit |</a> <a href='/store/delete/<%= store.id %>'>delete</a>
        </div>
      </div>
    <% end %>
  <% end %>
</div><br>

<a href='/store/create'>Add a Retailer</a><br><br>

<form action="/search/shoe" method="post">
  <label for="search">Search for a shoe</label>
  <input type="text" name="search">
</form>

<form action="/search/store" method="post">
  <label for="search">Search for a store</label>
  <input type="text" name="search">
</form>
